<script>
	import Logo from "../../shared/logo.svelte"

	import { modalState } from "../../../shared/stores.js"
	import { appConfig } from "../../../shared/config.js"

	export let topPadding = "10vh"

	const tips = [
			{	"icon" : "git",
				"text" : "Did you know the source code for OSINTer is available on GitLab?",
				"link" : "https://gitlab.com/osinter"
			},
			{	"icon" : "chat-square-dots",
				"text" : "Did you know that OSINTer has a blog where you can find insight on technical aspects?",
				"link" : "https://osinter.dk/blog"
			},
			{	"icon" : "wallet2",
				"text" : "Did you know that it's possible to sponsor the development of OSINTer and help the project flourish?",
				"link" : "https://github.com/sponsors/bertmad3400"
			}
		]
</script>

<div class="content-container" style="padding-top: {topPadding};">
	<div class="logo-container"><Logo /></div>

	<h1>{$modalState.modalContent?.title}</h1>
	<p>{$modalState.modalContent?.desc}</p>

	<slot></slot>

	{#if $modalState.modalContent?.type?.endsWith("result")}
		{@const tip = tips[Math.floor(Math.random()*tips.length)] }
		<a href="{tip.link}" class="tip" target="_blank" rel="noopener noreferrer">
			<img src="/icons/{tip.icon}.svg" class="icon" aria-hidden="true"/>
			<p>{tip.text}</p>
		</a>
	{/if}

	{#if $modalState.modalContent?.type === "success-result"}
		<button title="Continue" on:click={() => $modalState = appConfig.defaultOptions.modalState}>Continue to your feed</button>
	{:else if $modalState.modalContent?.type === "recover-result"}
		<button title="Go back" on:click|preventDefault="{() => $modalState = structuredClone(appConfig.defaultOptions.modalStates.login)}">Go back to login</button>
	{/if}
</div>

<style lang="scss">
div.content-container {
	padding-left: 6rem;
	padding-right: 6rem;
	height: 100%;
	box-sizing: border-box;

	overflow: auto;

	display: flex;
	flex-direction: column;
	align-items: center;

	div.logo-container {
		border-radius: 50%;
		width: 6rem;
		height: 6rem;

		margin-bottom: 2rem;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;

		background-color: $base-grey;
		border: 1px solid hsl(0deg, 0%, 92%);

		:global(svg) {
			width: 60%;
			height: 60%;

			color: $main-color;
		}
	}

	h1, p {
		text-align: center;
	}

	h1 {
		@include font(1, 700, 2.3rem);
	}

	p {
		@include font(1, 200, 0.9rem);
		margin-bottom: 2rem;
	}

	button {
		margin-bottom: 3rem;
		font-size: 1rem;
	}

	a.tip {
		display: flex;
		flex-direction: column;
		align-items: center;

		height: 30%;
		margin: auto;

		img {
			flex-shrink: 1;
			margin-bottom: 1rem;

			filter: $main-color-filter;
			transition: filter 0.2s ease-in-out;
		}

		p {
			width: 80%;
			font-size: 0.8125rem;
		}

		&:link {
			text-decoration: none;
		}

		&:visited {
			text-decoration: none;
		}

		&:hover {
			img {
				filter: $main-color-dark-filter;
			}
		}
	}
}
</style>
