<script>
	export let id

	import Loader from "./loader.svelte"
	import Dropdown from "./dropdown.svelte"

	import { loginState, modalState, articleSets } from "../../shared/stores.js"
	import { appConfig } from "../../shared/config.js"

	function checkAuth() {
		if (!$loginState.loggedIn) {
			$modalState = {"modalType" : "auth", "modalContent" : {"type" : "login", "title" : "Login here", "desc" : "Login here or signup with the link down below to save articles to custom collections."}}
		}
	}

	function handleCheckbox(e) {
		articleSets.modifyCollection(e.target.value, e.target.checked ? "extend" : "subtract", id)
	}

</script>

<button title="Add article to collection" on:click|stopPropagation={checkAuth}>
	<img src="/icons/star.svg" class="icon" aria-hidden="true"/>

	<Dropdown>
		{#each Object.entries($articleSets["collections"]) as [setName, set] (setName)}
			{#if !appConfig.permCollections.includes(setName)}
				<label class="radio" on:click|stopPropagation>
					<input name="radio" type="checkbox" on:change={handleCheckbox} value="{setName}" checked="{set.includes(id)}">
					<span>{setName}</span>
				</label>
			{/if}
		{/each}
	</Dropdown>
</button>

<style lang="scss">
button {
	border: none;
	background-color: transparent;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;

	&:focus-within :global(div) {
		display: block;
	}
}

label {
	@include radio();
}

</style>
