<script>
	export let id

	import ReadLaterButton from "./readLater.svelte"

	import { state } from "../../shared/stores.js"
</script>

{#if $state.selectedMenu.type == "collection"}
	<ReadLaterButton {id} collectionName="{$state.selectedMenu.name}" iconName="star" />
{:else}
	<ReadLaterButton {id} />
{/if}

<style lang="scss">
</style>
