<script>
	export let collectionName = "Read Later"
	export let iconName = "bookmark"

	import { articleSets, loginState, modalState } from "../../shared/stores.js"

	export let id

	$: readLater = $articleSets.collections?.[collectionName]?.includes?.(id)

	function toggle () {
		if ($loginState.loggedIn) {
			articleSets.modifyCollection(collectionName, readLater ? "subtract" : "extend", id)
			readLater = $articleSets.collections[collectionName]?.includes?.(id)
		} else {
			$modalState = {"modalType" : "auth", "modalContent" : {"type" : "login", "title" : "Login here", "desc" : "Login here or signup with the link down below to save articles for later reading."}}
		}
	}
</script>

<button title="{ readLater ? "Remove" : "Add"} article {readLater ? "from" : "to"} read later" class={ readLater ? "filled" : ""} on:click|stopPropagation={toggle}>
	{#if readLater }
		<img src="/icons/{iconName}-fill.svg" class="icon" aria-hidden="true" />
	{:else}
		<img src="/icons/{iconName}.svg" class="icon" aria-hidden="true">
	{/if}
</button>

<style lang="scss">
button {
	border: none;
	background-color: transparent;

	display: flex;
	align-items: center;
	justify-content: center;

	&.filled {
		img.icon {
			filter: $main-color-filter;
		}
	}
}
</style>
