<script>
	import { currentArticleSet } from "../../../shared/stores.js"

	import SvelteMarkdown from 'svelte-markdown'

	export let title
	export let desc
</script>

{#if $currentArticleSet.feed?.highlight}
	<h3 class="title"><SvelteMarkdown source={ title } isInline /></h3>
	<p class="description"><SvelteMarkdown source={ desc } isInline /></p>
{:else}
	<h3 class="title">{ title }</h3>
	<p class="description">{ desc }</p>
{/if}

<style lang="scss">
h3.title {
	transition: font-weight 0.2s;
	:global(strong) {
		color: $main-color-dark;
	}

}

p.description {
	font-size: 0.9rem;
	:global(strong) {
		color: $main-color-light;
	}
}
</style>
