<script>
	import SourceSelect from "./sourceSelect.svelte"
	import SearchQuery from "./searchQuery.svelte"
	import Modal from "../modal.svelte"
	import Loader from "../../shared/loader.svelte"
	import MenuTypeTitle from "./title.svelte"

	import { appConfig } from "../../../shared/config.js"
	import { loginState, state, modalState, articleSets, currentArticleSet, currentSearch as searchSpecs } from "../../../shared/stores.js"

	import { search } from "../../../lib/state.js"
	import { compare, queryAPI } from "../../../lib/common.js"
	import { createSet } from "../../../lib/sets.js"

	import { FeedSpecs } from "../../../lib/objects/primitives.js"

	import { onMount } from "svelte"
	import { slide } from 'svelte/transition';
	import { writable } from 'svelte/store';


	onMount(async () => {
		$searchSpecs = $currentArticleSet.type === "feed"
						? new FeedSpecs($currentArticleSet.sourceSpecs)
						: new FeedSpecs()
	})

	const sources = queryAPI("/articles/categories", {})

	// Variables used to control whether different segments are collapsed when screens width is small
	let closedSourceSelect = false
	let closedSearchQuery = false

	window.matchMedia('(min-width: 70rem)').addListener(() => {
		closedSourceSelect = false
		closedSearchQuery = false
	})

	async function updateFeed() {
		if ($loginState.loggedIn) {
			articleSets.createSet($state.selectedMenu.name, "feed", $searchSpecs, () => modalState.set(appConfig.defaultOptions.modalState))
		} else {
			modalState.set({"modalType" : "auth", "modalContent" : {"type" : "login", "title" : "Login here", "desc" : `Login here or signup with the link down below to create custom feeds.`}})
		}
	}

</script>


<Modal>
	{#await sources}
		<Loader height="20%" text={true}/>
	{:then sourceList}
		<div class="contentContainer">
			<div class="half">
				<MenuTypeTitle title="Select Sources" bind:closed={closedSourceSelect}/>
				{#if !closedSourceSelect}
					<div class="optionContainer" transition:slide|local>
						<SourceSelect {sourceList}/>
					</div>
				{/if}
			</div>

			<hr class="separator">

			<div class="half">
				<MenuTypeTitle title="Search Query" bind:closed={closedSearchQuery}/>
				{#if !closedSearchQuery}
					<div class="optionContainer seperateOptions" transition:slide|local>
						<SearchQuery/>
					</div>
				{/if}

				<hr class="separator">

				<div class="submit-buttons">
					<button on:click={() => search($searchSpecs)}>Search content</button>
					<div class="util-buttons">
						{#if $state.selectedMenu.type === "feed" && $state.selectedMenu.name in $articleSets.userFeeds}
							<button title="Save changes to current feed" on:click={() => updateFeed()} disabled="{compare($currentArticleSet.sourceSpecs, $searchSpecs.queryParams)}"><img src="/icons/save.svg" class="icon" aria-hidden="true"></button>
						{:else}
							<button title="Create new feed from search" on:click={() => createSet("feed", null, $searchSpecs.queryParams)}><img src="/icons/plus-lg.svg" class="icon" aria-hidden="true"></button>
						{/if}
						<a title="Download articles from search" class="button" href={$searchSpecs.downloadLink}><img src="/icons/download.svg" class="icon" aria-hidden="true"></a>
						<button title="Reset search parameters" on:click={() => $searchSpecs = new FeedSpecs()}><img src="/icons/arrow-repeat.svg" class="icon" aria-hidden="true"></button>
					</div>
				</div>
			</div>

		</div>
	{/await}
</Modal>

<style lang="scss">
$singlLaneMaxWidth: 70rem;

div.contentContainer {
	display: flex;

	padding: 2rem;
	box-sizing: border-box;
	overflow: auto;

	height: 100%;

	@media (max-width: $singlLaneMaxWidth) {
		flex-direction: column;
	}

}

div.half {
	display: flex;
	flex-direction: column;

	@media (min-width: $singlLaneMaxWidth) {
		width: 50%;

		&:first-of-type {
			border-right: 1px solid $button-grey;
			padding-right: 2rem;
		}

		&:last-of-type {
			padding-left: 2rem;
		}

		:global(button.collapse) {
			display: none;
		}
	}

	@media (max-width: $singlLaneMaxWidth) {
		width: 100%;
	}

	div.optionContainer {
		display: flex;
		flex-direction: column;
		min-height: 0;

		height: 100%;


		@media (min-width: $singlLaneMaxWidth) {
			&.seperateOptions {
				justify-content: space-between;
				overflow: auto;

				padding: 0.5rem;
			}
		}

	}
}

hr.separator {
	box-sizing: border-box;
	width: 100%;
	margin: 1rem 0 1.5rem 0;
	@media (min-width: $singlLaneMaxWidth) {
		display: none
	}
}

div.submit-buttons {

	display: flex;
	justify-content: space-evenly;

	button, a.button {

		flex: 1 1 0px;
		box-sizing: border-box;

		padding: 1.5rem;
		margin: 0.5rem;

		border-radius: 0;
		border: 1px solid rgb(90, 90, 90, 0.2);


		transition: background-color 0.2s ease-in-out;

		&:not(:disabled) {
			cursor: pointer;
			background-color: transparent;
		}

		&:hover, &:disabled {
			background-color: $button-grey;
		}

		&:disabled {
			cursor: not-allowed;

			img {
				opacity: 0.2;
			}
		}

		@include font(0.5, 700);
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}

	div.util-buttons {
		display: flex;
		margin: 0.5rem;

		* {
			margin: 0;
		}

		* ~ * {
			border-left: none;
		}
	}

}


</style>
