<script>

	import MarkArticleButton from "../../shared/markArticle.svelte"
	import TitleAndDesc from "../shared/titleAndDesc.svelte"

	export let article
	export let time
	export let read = false
</script>

<article class:read on:click>
	<MarkArticleButton id={article.id}/>
	<p class="source">{ article.source }</p>
	<div class="article-content">
		<TitleAndDesc title={article.title} desc={article.description} />
	</div>
	<time title="{ article.publish_date }">{ time }</time>
</article>

<style lang="scss">
article {
	:global(button) {
		@include button;
	}

	display: flex;
	align-items: center;
	gap: 1rem;

	cursor: pointer;

	padding: 0.2rem;
	font-family: sans-serif;

	&:hover {
		background-color: $base-grey;
	}

	* {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		color: rgb(125, 125, 125);
	}

	p.source {
		flex-shrink: 0;
		width: 6%;
		@include font(0.6, 300);
	}

	time {
		flex-shrink: 0;
		@include font(0.6, 300, 0.6rem);
		margin-left: auto;
	}

	.article-content {
		flex-shrink: 1;

		:global(p.description) {
			display: inline;
		}

		:global(h3.title) {
			display: inline;
			@include font(1, 600, 1rem);
		}
	}



	&:last-child {
		margin-bottom: 8rem;
	}

	&.read {
		:global(h3.title) {
			font-weight: 200 !important;
		}

		:global(p.description) {
			font-size: 0.8rem !important;
			opacity: 0.6;
		}
	}
}
</style>
