$main-color: hsl(0, 93%, 66%);
$main-color-light: hsl(0, 93%, 76%);
$main-color-dark: hsl(0, 93%, 56%);

// Generated from main colors using https://codepen.io/sosuke/pen/Pjoqqp
$main-color-filter: invert(45%) sepia(48%) saturate(3846%) hue-rotate(331deg) brightness(110%) contrast(94%); //hsl(0, 93%, 66%), #f95858
$main-color-light-filter: invert(89%) sepia(33%) saturate(5025%) hue-rotate(303deg) brightness(96%) contrast(104%); //hsl(0, 93%, 76%), #fb8989
$main-color-dark-filter: invert(51%) sepia(95%) saturate(7481%) hue-rotate(349deg) brightness(100%) contrast(94%); //hsl(0, 93%, 56%), #f72626

$base-grey: hsl(0, 0%, 97%);
$button-grey: hsl(0, 0%, 95%);
$white: hsl(0, 0%, 100%);

$white-filter: invert(100%);

@mixin truncate($lines: 2) {
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin font($opacity: 0.8, $weight: 700, $size: 0.8125rem) {
	font-weight: $weight;
	font-size: $size;
	font-family: sans-serif;
	color: rgb(0, 0, 0, $opacity);
}

@mixin button($size: 2rem) {
	@if $size != 0 {
		height: $size;
		width: $size;

		padding: calc($size / 5);
	}

	cursor: pointer;
	transition: background-color 0.2s ease-in-out;

	border: none;
	background-color: transparent;

	flex-shrink: 0;

	&:hover {
		background-color: $button-grey;
	}
}
