<script>
	import Logo from "../shared/logo.svelte";
	import Menu from "./menu.svelte"

	import { appConfig } from "../../shared/config.js"
	import { state, modalState, loginState, articleSets } from "../../shared/stores.js";

	import { showSearchModal, resetState } from "../../lib/state.js"
	import { addCollection, addFeed } from "../../lib/sets.js"
	import { logout } from "../../lib/auth.js"

	import { fly, slide } from "svelte/transition"

	let open = true

	$: userCollections = Object.fromEntries(
				Object.entries($articleSets.collections)
						.filter(([setName, set]) => ! appConfig.permCollections.includes(setName))
	)

	$: currentlySearching = $state.selectedMenu.name in $articleSets.search && $state.selectedMenu.type === "feed"

</script>

<svelte:window on:keydown={(e) => {if (Boolean(!$modalState?.modalType)) {if (e.key === "ArrowLeft") {open = false} else if (e.key === "ArrowRight") {open = true} }}}/>

{#if open}
<aside id="navbar" transition:fly|local={{ x: -50, duration: 150}}>
	<div id="logo-space" on:click={() => { resetState(); location.reload(); } }><Logo/><h2>OSINTer</h2></div>

	{#if $state?.sidebar?.available}
	<button class="long-button" class:selected={currentlySearching} on:click={showSearchModal}> <img src="/icons/search.svg" class="icon" aria-hidden="true"> <span> {currentlySearching ? "Exploring Content" : "Explore Content"} </span> </button>

	<nav>
		<Menu menuOptions={ $articleSets.permFeeds } />

		<Menu title="feeds" bind:closed={$state.sidebar.closed.feeds} menuOptions={$loginState.loggedIn ? $articleSets.userFeeds : $articleSets.preFeeds}>
			<li	on:click={addFeed} class:click-able="{currentlySearching}"><img src="/icons/plus.svg" class="icon category-icon" aria-hidden="true"><span>New Feed</span></li>
		</Menu>

		{#if $loginState.loggedIn }
			<Menu title="Collections" bind:closed={$state.sidebar.closed.collections} menuOptions={userCollections} menuType="collection">
				<li on:click={addCollection} class="click-able"><img src="/icons/plus.svg" class="category-icon icon" aria-hidden="true"><span>New Collection</span></li>
			</Menu>
		{/if}

		{#if Object.keys($articleSets.clusters).length > 0}
			<Menu title="Clusters" bind:closed={$state.sidebar.closed.clusters} menuOptions={$articleSets.clusters} menuType="cluster">
			</Menu>
		{/if}

		{#if $loginState.loggedIn }
			<Menu title="User" bind:closed={$state.sidebar.closed.user} menuOptions={appConfig.userOptions.loggedIn}>
				<li	on:click={logout} class="click-able"><img src="/icons/box-arrow-left.svg" class="icon category-icon" aria-hidden="true"><span>Logout</span></li>
			</Menu>
		{:else}
			<Menu title="User" bind:closed={$state.sidebar.closed.user}>
				<li on:click={() => $modalState = structuredClone(appConfig.defaultOptions.modalStates.login) } class="click-able"><img src="/icons/box-arrow-right.svg" class="icon category-icon" aria-hidden="true"><span>Login</span></li>
			</Menu>
		{/if}

		<Menu title="about" bind:closed={$state.sidebar.closed.about}>
			{#each [{"icon" : "icons/journal-text.svg", "url" : "blog/", "text" : "Blog"}, {"icon" : "icons/git.svg", "url" : "https://gitlab.com/osinter/osinter", "text" : "Source-code"}] as linkDetails}
				<a href="{linkDetails.url}" title="External link" target="_blank" rel="noopener noreferrer"><li class="click-able"><img src="{linkDetails.icon}" class="icon category-icon" aria-hidden="true"><span>{linkDetails.text}</span></li></a>
			{/each}
		</Menu>

	</nav>
	{/if}

</aside>
{/if}

<button class="control-open {open ? 'open' : ''}" on:click={() => {document.activeElement.blur(); open = !open;}}><img src="/icons/arrow-down-right-square-fill.svg" class="icon" aria-hidden="true"></button>

<style lang="scss">
button.control-open {
	$radius: 4rem;
	$margin: 1rem;

	border-radius: $radius $radius $radius 0;

	width: $radius;
	height: $radius;

	position: absolute;
	z-index: 3;

	bottom: $margin;
	left: $margin;

	display: flex;
	align-items: center;
	justify-content: center;

	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

	background-color: $base-grey;
	border: none;

	cursor: pointer;

	transition: border-radius 0.5s;

	img.icon {
		width: 40%;
		height: 40%;

		opacity: 0.4;

		transition: opacity 0.4s, filter 0.4s, transform 0.35s;
	}

	&:hover {
		img.icon {
			opacity: 1;
			filter: $main-color-filter;
		}
	}

	&:focus {
		border-radius: calc($radius * 0.2) !important;
	}

	&.open {
		border-radius: 0 $radius $radius $radius ;

		left: 13rem;

		img.icon {
			transform: rotate(90deg);
		}

		background-color: $button-grey;
	}
}

li {
	opacity: 0.7;

	&.click-able:hover {
		opacity: 1;
		border-left: 5px solid $main-color;
		padding-left: calc(2rem - 5px);

		:global(*) {
			color: $main-color !important;
		}

		img.icon {
			filter: $main-color-filter;
		}


	}
}

#logo-space {
	height: 4rem;
	padding: 0 1.5rem 0 1.5rem;
	overflow: hide;
	display: flex;
	align-items: center;

	border-bottom: 1px solid hsl(0deg, 0%, 92%);

	cursor: pointer;

	opacity: 0.6;
	transition: opacity 0.5s;

	:global(svg) {
		height: 2rem;
		width: 2rem;

	}

	h2 {
		margin-left: 1rem;
		font-weight: 1000;
		font-family: sans-serif;
		font-size: 1.5rem;
		color: $main-color-light;
	}

	&:hover {
		opacity: 1;
	}
}

#navbar {
	flex-shrink: 0;
	width: 18rem;
	height: auto;
	height: 100vh;
	overflow-y: auto;

	background: $base-grey;
	box-sizing: border-box;

	border-right: 1px solid $base-grey;

	nav {
		color: rgb(51, 51, 51);
		font-family: sans-serif;
	}

	@media (max-width: 60rem) {
		box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px;
		position: absolute;
		z-index: 2;

	}
}

.long-button {
	display: flex;
	align-items: center;

	margin: 1rem;
	margin-bottom: 2rem;
	width: calc(100% - 2rem);
	height: 2.5rem;

	background-repeat: no-repeat;
	overflow: hidden;
	outline: none;

	cursor: pointer;

	border: 1px solid rgb(90, 90, 90, 0.2);
	transition: border-color .2s ease-in-out;

	border-radius: 2px;

	background-color: transparent;

	span {
		flex-grow: 1;
		@include font(0.2);
		transition: color .2s ease-in-out;
	}

	img.icon {
		border-right: 1px solid rgb(90, 90, 90, 0.3);

		height: 100%;
		width: 1rem;
		padding: 0.8rem;

		opacity: 0.45;
		transition: border-color .2s ease-in-out, opacity .2s ease-in-out;
	}

	&:hover {
		border-color: rgba(90, 90, 90, 0.4);
		span {
			color: rgba(0, 0, 0, 0.6)
		}
		img.icon {
			opacity: 0.85;
			border-color: rgba(90, 90, 90, 0.5)
		}
	}

	&.selected {
		border-color: $main-color-light;

		span {
			color: $main-color-light;
		}

		img.icon {
			opacity: 0.85;
			border-color: $main-color-light;
			filter: $main-color-filter;
		}

		color: $main-color;
	}



}
</style>
