<script>
	export let menuOptions
	export let menuType

	import { state, loginState, articleSets } from "../../shared/stores.js"
	import { moveClusterToCollection } from "../../lib/state.js"

	// Also checking type to not highlight menu when fx. a feed of same name as a collection is selected
	$: categorySelected = $state.selectedMenu.name in menuOptions && $state.selectedMenu.type === (menuType ? menuType : menuOptions[$state.selectedMenu.name].type)

	const selectOption = (optionName) => state.update(currentState => ({
			...currentState,
			"selectedMenu" : {	"name" : optionName,
								"type" : menuType ? menuType : menuOptions[optionName].type
			},
			"localSearch" : ""
			})
		)

</script>

<ul class:selected="{categorySelected}">
	{#each Object.entries(menuOptions) as [ setName, set ] }
		{@const optionSelected = $state.selectedMenu.name == setName && $state.selectedMenu.type === set.type}

		<li class:selected="{optionSelected}" on:click="{() => selectOption(setName)}">
			<img src="/icons/{set.icon}.svg" class="category-icon icon " aria-hidden="true"/>
			<span> {setName} </span>
			{#if $loginState.loggedIn}
				{#if set.modifiable?.remove}
					<button title="Remove { set.type }" on:click|stopPropagation={articleSets.removeSet(setName, set.type)}>
						<img src="/icons/x.svg" class="icon" aria-hidden="true"/>
					</button>
				{/if}

				{#if set.modifiable?.add && set.type === "cluster"}
					<button title="Add cluster as collection" on:click|stopPropagation={moveClusterToCollection(set.type)}>
						<img src="/icons/plus.svg" class="icon" aria-hidden="true"/>
					</button>
				{/if}
			{/if}
		</li>
	{/each}
	<slot></slot>
</ul>

<style lang="scss">
ul {
	margin: 0;
	padding: 0 0 2rem 0;
	list-style-type: none;

	:global(a) {
		text-decoration-color: rgb(0, 0, 0, 0.4);

	}

	:global(a:hover) {
		text-decoration-color: $main-color;
	}

	:global(li) {
		display: flex;
		align-items: center;

		cursor: pointer;

		padding: 0.4rem 2rem;

		&:hover {
			background-color: $button-grey;
			padding-right: 0rem;
		}

		:global(span) {
			overflow-x: hidden;
			text-overflow: ellipsis;

			margin-left: 0.7rem;
			@include font(0.4);
		}

		:global(img.category-icon) {
			opacity: 0.4;

			&:not(.small) {
				width: 1.3rem;
				height: 1.3rem;
			}

			&:global(.small) {
				width: 1rem;
				height: 1rem;
			}
		}

		:global(button) {
			display: none;

			@include button(0);

			padding: 0;
			margin-left: auto;
			margin-right: 1rem;

			aspect-ratio: 1/1;

			:global(img.icon) {
				opacity: 0.1;
				transition: opacity 0.4s;

				height: 1.3rem;
				width: 1.3rem;

				&:hover {
					opacity: 0.5;
				}
			}
		}

		&:hover {
			:global(button) {
				display: block;
			}
		}
	}

	&.selected {
		li {
			border-left: 5px solid rgb(90, 90, 90, 0.8);
			padding-left: calc(2rem - 5px);

			span {
				@include font(0.8)
			}

			img.category-icon {
				opacity: 0.8;
			}

			&.selected {
				span {
					color: $main-color !important;
				}
				img.category-icon {
					filter: $main-color-filter;
				}
				border-color: $main-color !important;
			}

		}
	}

}

</style>
