<script>
	import Modal from "../modal.svelte"
</script>

<Modal width="min(80ch, 80vw)">
	<div class="content">
		<h1>Limited availability (important!)</h1>
		<p class="tldr">TL;DR: As a result of struggling with funding OSINTer as a platform, we have unfortunately had to take our main production server offline. This will mean that for the foreseeable future you - as a user of OSINTer.dk - might encounter limited availability, frequent bugs and data loss on the platform, as we have to run production, staging and testing environments on the same server. We apologize for the inconvenience and ask for your patience as we attempt to find a suitable source of funding for the project.</p>

		<img src="https://gitlab.com/osinter/osinter/-/raw/master/logo.png" />

		<p>Hi there!</p>
		<p>Given that you have visited this page, it seems likely that you are one of the more than <span style="color: red">200 monthly users</span>  of the platform, and we're glad to have you back here! OSINTer was designed to help people just like you, and seeing it gaining traction within the CTI sphere is awesome! As you are reading this we are working hard behind the scenes to bring some major updates to the platform, and we are extremely excited to - in a few months - show you what we have been working on for the better part of 2022 and 2023.</p>

		<p>Unfortunately, we have run into major problems with funding of the platform. While the development has so far been done unpaid (we are also working on changing that - more on that later) one of our industry partners has generously sponsored the hardware needed to keep both our production and development environments online, a task that - due to the complexity of OSINTer - isn't small. Due to a couple of complications however, this agreement has recently been terminated leaving the development team behind OSINTer without proper environments for further development.</p>

		<p>To temporarily handle this issue, both the OSINTer.dk and dev.osinter.dk domain has been moved so they both point to the same small development server, but this is obviously not a sustainable solution. Not only does this mean that we are forced to test new updates and rewrites of critical parts for OSINTer in production (which has already caused multiple outages and loss of user data) but the server currently hosting OSINTer does not have the capacity needed for the user-base served by OSINTer, which has the potential to further limit availability and it is for these reasons that we are currently looking into possibilities for funding the project. We therefore apologize for the potential inconvenience caused by this, and ask you to be patient while we sort out this issue.</p>

		<p><span>Want to help OSINTer stay afloat?</span> If you - or the company you represent - want to help OSINTer stay afloat, there's a couple of options:</p>

		<ul>
			<li><a href="https://github.com/sponsors/bertmad3400">Sponsor us directly on Github</a></li>
			<li><a href="mailto:skrivtilbertram@gmail.com">Contact core maintainer directly on mail</a></li>
			<li><a href="https://gitlab.com/osinter/osinter">Open an issue on the official repo</a></li>
		</ul>
	</div>
</Modal>

<style lang="scss">
div {
	padding: 3rem;

	* {
		margin-bottom: 1rem;
	}

	h1 {
		@include font(1, 700, 2rem);
	}

	img {
		width: 100%;
		margin-bottom: 3rem;
	}

	.tldr {
		font-style: italic;
		@include font(0.8, 600, 1rem);
		margin-bottom: 3rem;
	}

	p {
		@include font(0.8, 300, 1rem);
	}

	a {
		font-family: sans-serif;
	}

	ul {
		margin-top: 2rem;
	}
}
</style>
