<script>
	import { appConfig } from "../../../shared/config.js"
	import { currentArticles } from "../../../shared/stores.js"
	import { state } from "../../../shared/stores.js"

	import { createArticleModal } from "../../../lib/state.js"

	import { fly } from "svelte/transition"
	import SvelteMarkdown from 'svelte-markdown'

	import Modal from "../modal.svelte"
	import ReadLaterButton from "../../shared/readLater.svelte"
	import AddToCollectionButton from "../../shared/addToCollection.svelte"
	import GeneralInteractiveList from "../../shared/interactiveListDropdown.svelte"
	import SimilarList from "./similar.svelte"

	export let articleObject

	$: source = articleObject.formatted_content
	$: downloadLink = `${appConfig.rootUrl}/articles/export/${encodeURIComponent(articleObject.id)}`

	// https://github.com/bradvin/social-share-urls
	const shareLinks = {
			"LinkedIn" : `https://www.linkedin.com/sharing/share-offsite/?url=${articleObject.url}`,
			"Twitter" : `https://twitter.com/intent/tweet?url=${articleObject.url}&text=${articleObject.title}`,
			"Reddit" : `https://reddit.com/submit?url=${articleObject.url}&title=${articleObject.title}`
	}

	let potentialCopyTargets = {
		"Url" : async () => "https://osinter.dk/#" + articleObject.id,
		"Raw Content" : async () => articleObject.content,
		"MD Content" : async () => articleObject.formatted_content,
		"Whole Article" : async () => {
			let wholeArticle = await fetch(downloadLink)

			if (wholeArticle.ok) {
				return await wholeArticle.text()
			} else {
				return false
			}
		}
	}

	async function copyAttr(copyTarget) {
		if (copyTarget in potentialCopyTargets) {
			let copyContent = await potentialCopyTargets[copyTarget]()

			if (Boolean(copyContent)) {
				navigator.clipboard.writeText(copyContent)
				return true
			}
		}
		return false
	}

	let switchDirection = 1
	let switching = false

	async function switchArticle(e) {
		if ((!(e.key === "ArrowLeft") && !(e.key === "ArrowRight")) | switching) return
		switching = true

		switchDirection = (e.key === "ArrowLeft") ? -1 : 1

		const currentArticleList = await $currentArticles

		const currentIndex = currentArticleList.findIndex( article => article.id === articleObject.id )
		const newIndex = currentIndex + switchDirection

		if (newIndex >= 0 && newIndex < currentArticleList.length) {
			await createArticleModal(currentArticleList[newIndex].id)
		}

		setTimeout(() => switching = false, 150)
	}

</script>

<svelte:window on:keydown={switchArticle}/>

<Modal>
	<base target="_blank">
	<header>
		<nav>
			<ul>
				<li> <ReadLaterButton id={articleObject.id} /> </li>
				<li> <AddToCollectionButton id={articleObject.id}/> </li>
			</ul>
			<ul>
				<li title="Share article to social media"> <GeneralInteractiveList processClick={(target) => window.open(shareLinks[target], "_blank")} listOptions={shareLinks} successMessage="Shared to SoMe." iconName="share"/></li>
				<li title="Copy parts of, or whole article"> <GeneralInteractiveList processClick={copyAttr} listOptions={potentialCopyTargets} successMessage="Copied to clipboard." iconName="clipboard"></GeneralInteractiveList></li>
				<li title="Download article"><a href={downloadLink}><img src="/icons/file-earmark-arrow-down.svg" class="icon" aria-hidden="true"/></a></li>
			</ul>
		</nav>
	</header>

	{#key articleObject}
	<div class="article-content" in:fly|local={{ delay: 150, duration: 150, x: 50 * switchDirection }} out:fly|local={{ duration: 150, x: - 50 * switchDirection }}>
		<h1 class="article-title">{ articleObject.title }</h1>
		<h4 class="article-details">From { articleObject.source } - Written by { articleObject.author} - { articleObject.publish_date } - Read {articleObject.read_times} times.</h4>
		<img alt="Main Article" src="{ articleObject.image_url }">
		<h3>{ articleObject.description }</h3>
		<SvelteMarkdown {source} />
		<button on:click={() => window.open(articleObject.url, "_blank")}> Read article on website </button>

		<hr>
		{#if $state.availability.ml}
			<SimilarList ml={articleObject.ml} />
		{/if}
	</div>

	{/key}
</Modal>


<style lang="scss">
$header-height: 3rem;
$article-margins: max(calc((80vw - 90ch)/2), 5vw);

div.article-content {
	text-align: justify;

	height: calc(100% - $header-height);
	box-sizing: border-box;
	overflow-y: auto;

	padding: 3rem $article-margins 4rem $article-margins;

	:global(*) {
		max-width: 100%;
		margin-bottom: 1.5rem;
	}

	:global(span), :global(p), :global(a), :global(li) {
		@include font(1, 300, 1rem);
		color: rgb(125, 125, 125);
	}

	:global(code) {
		word-break: break-all;
		white-space: break-spaces;

		font-family: monospace;
		font-weight: 400;
		font-size: 0.75rem;

		color: #000;
	}

	:global(h1) {
		@include font(1, $size: 2.3rem);
		line-height: 2.1rem;
	}

	:global(h1.article-title) {
		text-align: left;
		font-size: 3rem;
		line-height: 3rem;
	}

	:global(h2) {
		@include font(0.7, 800, 1.4rem);
	}

	:global(h3) {
		@include font(0.7, 600, 1.2rem);
	}

	:global(h4), :global(h5), :global(h6) {
		@include font(0.5, 500, 1rem);
	}


	:global(p) {
		:global(img) {
			margin-bottom: 0.3rem;

			& ~ :global(p), & ~ :global(strong), & ~ :global(em) {
				display: block;
				margin: 0 auto 0.2rem auto;

				width: max-content;

				font-style: italic;
				@include font(0.6, 200);
			}

			& ~ :global(br) {
				display: none;
			}

			& ~ :global(*):last-child {
				margin-bottom: 2rem;
			}
		}
	}

	:global(img) {
		border-radius: 1%;
		width: 100%;
	}

	:global(table) {
		width: 100%;
		background-color: $white;
		border-collapse: collapse;
		border: 2px solid $button-grey;

		color: #000000;

		:global(th), :global(td) {
			border: 2px solid $base-grey;
			padding: 0.1rem;

			@include font(1, 100, 0.7rem);

			:global(*) {
				@include font(1, 100, 0.7rem);
			}
		}

		:global(thead) {
			:global(th), :global(td) {
				border: 2px solid $button-grey;
			}

			background-color: $main-color-light;
		}

	}

	button {
		@include button(4rem);
		width: 100%;
		border-radius: 2px;
		border: 1px solid rgb(90, 90, 90, 0.2);


		@include font(0.5, 700);
		text-transform: uppercase;

	}
}

header {
	box-sizing: border-box;
	height: $header-height;

	border-bottom: 1px solid $button-grey;
	box-shadow: $base-grey 0px 1px 5px 0px;
	nav {

		margin-left: $article-margins;
		margin-right: $article-margins;

		display: flex;
		justify-content: space-between;

		ul {
			padding: 0;

			li {
				height: $header-height;
				width: $header-height;

				display: inline-block;

				cursor: pointer;

				:global(button), :global(a){
					@include button($header-height);
					box-sizing: border-box;

					padding: 0.7rem;

					:global(div) {
						left: 0;
						top: calc($header-height)
					}
				}

				a {
					display: inline-block;
					color: rgb(70, 70, 70);
				}
			}
		}
	}
}
</style>
