<script>
	import { onMount } from "svelte"
	import { queryAPI } from "../../../lib/common.js"
	import { exploreCluster } from "../../../lib/state.js"
	import { createArticleModal } from "../../../lib/state.js"

	export let ml
	let similarArticles = []

	onMount(() => {
		similarArticles = ml?.similar ? queryAPI("/articles/search?ids=" + ml.similar.map(id => encodeURIComponent(id)).join("&ids="), []) : []
	})

</script>

{#if ml}
	{#await similarArticles then articleList}
		<div class="container">
			{#each articleList as article (article.id)}
				<article on:click={() => createArticleModal(article.id)}>
					<img src="{ article.image_url }">
					<h2>{ article.title }</h2>
					<p class="description">{ article.description }</p>
				</article>
			{/each}
		</div>
		{#if ml?.cluster >= 0}
			<button on:click={() => exploreCluster(ml.cluster)}>Explore rest of cluster {ml.cluster}</button>
		{/if}
	{/await}
{/if}

<style lang="scss">
button {
	@include button(4rem);
	width: 100%;
	border-radius: 2px;
	border: 1px solid rgb(90, 90, 90, 0.2);


	@include font(0.5, 700);
	text-transform: uppercase;

}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 2rem;

	article {

		padding: .8rem;

		cursor: pointer;

		transition: background-color .5s;

		&:hover {
			background-color: $button-grey;
		}

		* {
			margin-bottom: 0.5rem;
		}

		img {
			width: 100%;
			height: 10rem;
			overflow: hidden;
			object-fit: cover;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
		}

		h2 {
			font-size: 1rem;
			font-weight: 700;
			text-align: left;
			@include truncate(2);
		}

		p.description {
			@include truncate(4);
		}
	}
}
</style>
