<script>
	import SideBar from "./components/sidebar/main.svelte"
	import MainWindow from "./components/main_window.svelte"

	import ArticleModal from "./components/modals/article/main.svelte"
	import SearchModal from "./components/modals/search/main.svelte"
	import AuthModal from "./components/modals/auth/main.svelte"
	import GetNameModal from "./components/modals/getName.svelte"
	import MessageModal from "./components/modals/msg/main.svelte"

	import { onMount, onDestroy } from "svelte"

	import { login } from "./lib/auth.js"
	import { queryAPI } from "./lib/common.js"
	import { search, syncLocalStorageToState, syncStateToLocalStorage, createArticleModal } from "./lib/state.js"

	import { state, modalState, articleSets, currentSearch, currentArticleSet } from "./shared/stores.js"

	let localStorageSyncUnsubscribe

	onMount(async () => {

		articleSets.updateGroups()

		await syncLocalStorageToState()
		localStorageSyncUnsubscribe = await syncStateToLocalStorage()

		const hashValue = window.location.hash.replace("#", "")
		if (hashValue && hashValue.length === 20) {
			history.pushState(null, null, ' ')
			createArticleModal(encodeURIComponent(hashValue))
		}

		$state.availability.ml = Boolean((await queryAPI("/ml/", false))?.available)
	})

	onDestroy(localStorageSyncUnsubscribe)

	function handleKeypress(keyName) {
		switch (keyName) {
			case "Escape":
				$modalState = {"modalType" : null, "modalContent" : null}
				break

			case "Enter":
				if ($modalState.modalType == "search") {
					search($currentSearch)
				}

				break
		}
	}
</script>

<svelte:window on:keydown={(e) => handleKeypress(e.key)}/>

<main>
	{#if $modalState.modalType == "article" && $modalState.modalContent}
		<ArticleModal articleObject={$modalState.modalContent} />
	{:else if $modalState.modalType == "search"}
		<SearchModal />
	{:else if $modalState.modalType == "auth"}
		<AuthModal />
	{:else if $modalState.modalType == "getName"}
		<GetNameModal />
	{:else if $modalState.modalType == "msg"}
		<MessageModal />
	{/if}
	<SideBar />
	<MainWindow />
</main>

<style lang="scss">
main {
	display: flex;
	align-content: center;
	height: auto;
	min-height: 100%;
	overflow: hidden;
}
</style>
