<script>
	import { state, loginState, articleSets } from "../../shared/stores.js"

	import { getTimespan } from "../../lib/common.js"
	import { createArticleModal } from "../../lib/state.js"

	export let article
	$: read = $articleSets["collections"]?.["Already Read"]?.includes?.(article.id)

	import LargeArticles from './layouts/large_article_list.svelte'
	import TitleArticles from './layouts/title_article_list.svelte'

	const feedRepresentations = {
		"Large": LargeArticles,
		"Title-view": TitleArticles
	};

	function showArticle(e) {
		if (e.ctrlKey) {
			const newWindow = window.open(article.url, "_blank")
			newWindow.opener = null
		} else {
			createArticleModal(article.id)
		}
	}

</script>

<svelte:component on:click={showArticle} this={feedRepresentations[$state.representation]} article={article} time={ getTimespan(article.publish_date) } {read} on:modal/>

<style lang="scss">
</style>
