<script>
	import ArticleList from "../article_lists/list.svelte"
	import RenderConfig from "../article_lists/configs/rendering.svelte"
	import Loader from "../shared/loader.svelte"

	import { fade } from 'svelte/transition';

	import { state, loginState, articleSets, currentArticleSet, currentArticles } from "../../shared/stores.js"
	import { appConfig } from "../../shared/config.js"

	$: pageTitle = $state.selectedMenu.type.charAt(0).toUpperCase() + $state.selectedMenu.type.slice(1)
</script>

<section id="article-list" transition:fade>
	<header>
		<div class="title-text">
			<h2>{$state.selectedMenu.name}</h2>
			<h2> - { pageTitle }</h2>
		</div>

		<section class="icons">
			{#await $currentArticles then articleList}
				{#if articleList?.length > 0}
					<a href="{ $currentArticleSet.downloadLink }" title="Download all articles listed below"><img src="/icons/file-arrow-down.svg" class="icon" aria-hidden="true"></a>
				{/if}
			{/await}

			{#if $state.selectedMenu.type === "collection"}
				<button title="Remove all articles from the current collection" class="config-options" on:click={() => articleSets.modifyCollection($state.selectedMenu.name, "clear")}>
					<img src="/icons/trash3.svg" class="icon" aria-hidden="true">
				</button>
			{/if}

			<button title="Change appearance the articles listed below" class="config-options">
				<img src="/icons/three-dots-vertical.svg" class="icon" aria-hidden="true">
				<RenderConfig />
			</button>

			{#if !($state.selectedMenu.type === "collection" && $state.selectedMenu.name === "Already Read") && $loginState.loggedIn}
				<input on:change={(e) => currentArticles.hideRead = e.target.checked} checked={$currentArticleSet.hideRead} class="switch" type="checkbox" id="hideRead" name="hideRead">
				<label class="switch" for="hideRead" title="Only show articles that haven't been read"></label>
			{/if}

		</section>
	</header>
	<hr>

		{#await $currentArticles}
			<Loader height="20%" text={true} />
		{:then articleList}
			<ArticleList articleList={articleList} />
		{/await}
</section>

<style lang="scss">
section#article-list {
	padding: 4rem 6rem 4rem 6rem;

	height: 100%;
	overflow-y: scroll;

	border-right: 1px solid $button-grey;

	header {

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 5rem;

		div.title-text {
			display: flex;
			gap: 0.7rem;

			overflow: hidden;
			margin-right: 1rem;

			h2 {
				@include font(0.7, 700, 2.5rem);
				margin-bottom: 0.2rem;

				&.read {
					font-weight: 100 !important;
				}

				&:first-child {
					overflow: hidden;
					text-overflow: ellipsis;

					&:hover {
						overflow-x: scroll;
						text-overflow: unset;
					}
				}

				&:last-child {
					flex-shrink: 0;
				}
			}
		}

		section.icons {

			flex-shrink: 0;

			@include switch();

			label.switch {
				margin-bottom: 0.8ex;
			}

			a, button {
				cursor: pointer;
				padding: 0.3rem;

				background-color: transparent;
				transition: background-color .15s ease-in-out;

				display: inline-block;

				&:hover {
					background-color: rgba(0,0,0,.03);
				}

				img.icon {
					width: 1.4rem;
					height: 1.4rem;
					color: rgb(70, 70, 70);
				}
			}

			button.config-options {
				border: none;

				position: relative;

				&:focus-within :global(div) {
					display: block;
				}

			}
		}
	}
}
</style>
